<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-item>
    <ion-input type="text" placeholder="My QR Code data" [(ngModel)]="qrData">

    </ion-input>
  </ion-item>
  <ion-segment [(ngModel)]="elementType">
    <ion-segment-button value="canvas">
      <ion-label>
        Canvas
      </ion-label>
    </ion-segment-button>

    <ion-segment-button value="img">
      <ion-label>
        Image
      </ion-label>
    </ion-segment-button>


    <ion-segment-button value="url">
      <ion-label>
        url
      </ion-label>
    </ion-segment-button>

  </ion-segment>

  <ion-button expand="full" (click)="scanCode()" color="secondary">
    ScanCodee
  </ion-button>
  <ion-card *ngIf="qrData" text-center>
    <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="qrData">
    </ngx-qrcode>
  <ion-card-content>
    <ion-button expand="full" color="tertiary" (click)="downloadQR()" *ngIf="elementType==='canvas'">
      <ion-icon name="download" slot="start">
        download qr code
      </ion-icon>
    </ion-button>
  </ion-card-content>
  </ion-card>


 
 

  <ion-card *ngIf="scannedcode">
    <ion-card-content>
      Result from Scan={{scannedcode}}
    </ion-card-content>
  </ion-card>

</ion-content>